In [105]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
import json
import ast
from wordcloud import WordCloud,STOPWORDS
from collections import OrderedDict

train_path = 'C:/Users/bais_/OneDrive/Desktop/Università/Informatica/Data & Web Mining/Progetto/train.csv'
test_path = 'C:/Users/bais_/OneDrive/Desktop/Università/Informatica/Data & Web Mining/Progetto/test.csv'
#train_path = 'C:/Users/mcdav/Desktop/Università/Data&Web/train.csv'
#test_path = 'C:/Users/mcdav/Desktop/Università/Data&Web/test.csv'
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
train.info()
train.describe()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

BELONGS TO COLLECTION

In [165]:
for i, e in enumerate(train['belongs_to_collection'][:5]):
    print(i, e)

0 [{'id': 313576, 'name': 'Hot Tub Time Machine Collection', 'poster_path': '/iEhb00TGPucF0b4joM1ieyY026U.jpg', 'backdrop_path': '/noeTVcgpBiD48fDjFVic1Vz7ope.jpg'}]
1 [{'id': 107674, 'name': 'The Princess Diaries Collection', 'poster_path': '/wt5AMbxPTS4Kfjx7Fgm149qPfZl.jpg', 'backdrop_path': '/zSEtYD77pKRJlUPx34BJgUG9v1c.jpg'}]
2 nan
3 nan
4 nan

In [166]:
train['has_collection'] = train['belongs_to_collection'].apply(lambda x: 0 if pd.isna(x) else 1)
sum(train['has_collection'])

train = train.drop(['belongs_to_collection'], axis=1)
train.head()

,id,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,has_collection
0,1,14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,1
1,2,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,1
2,3,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,0
3,4,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,0
4,5,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,0

BUDGET

In [167]:
for i, e in enumerate(train['budget']):
    if e <=10000:
        print(i, e)

4 0
7 0
8 0
11 0
17 0
22 0
23 0
24 0
25 0
31 0
33 0
36 0
38 0
40 0
48 0
52 0
53 0
55 0
56 0
58 0
62 0
67 0
71 0
73 0
78 0
89 0
91 0
93 0
95 0
97 0
102 0
103 0
104 0
116 0
117 0
118 0
126 0
132 0
136 0
138 0
141 0
145 0
146 0
148 0
150 0
151 0
152 0
154 0
157 0
161 0
165 0
166 0
170 0
171 0
177 0
181 0
182 0
189 0
192 0
193 0
195 0
206 0
208 0
212 0
218 0
221 0
224 0
225 0
232 0
233 0
235 0
237 0
240 0
242 0
243 0
244 0
253 0
258 0
260 0
262 0
264 0
269 0
275 0
278 0
280 0
287 0
293 0
295 0
302 0
303 0
304 0
313 0
320 0
330 0
333 0
334 1
337 0
340 0
342 0
343 0
345 0
347 12
352 0
355 0
360 0
365 7000
367 0
368 0
370 0
379 0
383 0
386 0
392 0
395 0
396 0
397 0
402 0
403 0
404 0
409 0
416 0
417 0
425 0
427 0
435 0
436 0
441 0
442 0
443 0
445 0
451 0
452 0
454 0
455 0
460 0
463 0
465 0
469 113
475 0
479 0
480 0
484 0
493 0
498 0
500 0
502 0
504 0
512 93
514 0
521 0
524 0
531 0
539 0
549 0
553 0
555 0
556 0
560 0
561 0
564 0
565 0
575 0
577 0
579 0
580 0
581 0
584 0
590 0
591 0
594 0
595 0
606 0
607 0
609 0
615 0
616 0
619 0
621 0
626 0
629 0
634 0
636 0
639 6
644 0
648 0
652 0
657 0
663 0
664 0
665 0
667 0
669 0
678 0
682 0
687 0
688 0
690 0
694 0
695 1
696 0
707 0
710 0
711 0
716 0
718 0
719 0
720 0
722 0
726 0
730 0
732 0
740 0
741 0
748 0
752 0
755 0
756 0
758 0
764 0
768 0
772 0
773 0
774 0
775 0
779 0
783 0
784 0
788 0
796 8
797 0
798 0
807 0
808 0
811 0
818 0
823 0
835 0
836 0
838 0
841 0
842 0
849 1
852 0
853 0
855 0
862 0
863 0
864 0
867 0
871 0
872 0
876 0
878 0
884 0
885 0
886 0
889 0
890 0
892 0
895 0
898 0
901 0
903 0
909 0
910 0
915 0
917 0
919 0
920 0
922 0
924 0
928 0
935 0
936 0
937 0
943 0
947 0
952 0
954 0
956 0
959 0
960 0
966 0
979 0
985 0
987 0
990 0
991 0
994 0
999 0
1003 0
1007 0
1011 0
1014 0
1020 0
1022 0
1023 0
1025 0
1027 0
1033 0
1034 0
1039 0
1043 0
1046 0
1051 0
1053 0
1055 0
1058 0
1061 0
1064 0
1068 0
1071 0
1074 0
1076 0
1078 0
1082 0
1084 0
1085 0
1086 0
1088 0
1089 0
1092 0
1100 0
1101 0
1105 0
1110 0
1111 0
1130 0
1134 0
1136 0
1138 0
1141 0
1144 0
1146 0
1147 0
1161 0
1170 0
1172 0
1173 0
1174 0
1175 0
1178 0
1179 0
1185 0
1186 0
1188 0
1190 0
1194 0
1198 5
1202 0
1204 0
1206 0
1213 0
1214 0
1215 0
1216 0
1221 0
1225 0
1232 0
1240 0
1252 0
1253 0
1254 0
1255 0
1257 0
1258 0
1261 0
1265 0
1277 0
1280 0
1289 0
1298 0
1299 0
1301 0
1304 0
1307 0
1310 0
1322 0
1323 0
1324 0
1325 0
1326 0
1328 0
1329 0
1330 0
1331 0
1333 0
1336 0
1342 0
1344 0
1346 1
1350 0
1354 0
1357 0
1358 0
1360 0
1361 0
1363 0
1371 0
1372 0
1376 0
1388 0
1391 0
1395 0
1402 0
1406 0
1409 0
1413 0
1415 0
1416 0
1421 0
1424 0
1436 0
1437 0
1440 0
1444 0
1446 0
1449 0
1453 0
1457 0
1461 0
1479 0
1484 0
1487 0
1488 0
1489 0
1490 0
1503 0
1504 0
1506 0
1507 0
1509 0
1518 0
1520 0
1522 0
1529 0
1533 0
1534 0
1537 0
1540 0
1543 0
1544 0
1546 0
1551 0
1553 0
1554 0
1562 0
1566 0
1569 0
1570 0
1574 0
1585 0
1589 0
1590 0
1595 0
1602 0
1609 0
1617 0
1623 0
1626 0
1627 0
1629 0
1636 0
1638 0
1645 0
1651 0
1654 0
1658 0
1667 0
1683 0
1687 0
1689 0
1690 0
1696 0
1697 0
1700 0
1701 0
1702 0
1705 0
1706 0
1713 0
1716 0
1720 0
1724 0
1738 0
1740 0
1748 0
1753 0
1754 2
1756 0
1758 0
1765 0
1766 0
1767 0
1769 0
1770 0
1773 0
1785 0
1786 0
1787 0
1793 0
1799 0
1800 5
1803 2500
1805 0
1808 0
1810 0
1812 0
1813 0
1816 0
1819 0
1821 0
1825 0
1827 0
1829 0
1833 0
1834 0
1839 0
1842 0
1843 0
1847 0
1850 0
1852 0
1853 0
1857 0
1864 0
1867 0
1873 0
1874 0
1881 0
1882 0
1885 0
1890 0
1894 0
1898 0
1899 0
1901 0
1904 0
1905 0
1906 0
1909 0
1911 0
1912 0
1915 0
1917 592
1918 0
1919 0
1923 0
1925 0
1931 0
1932 0
1941 0
1944 0
1946 0
1948 0
1951 0
1952 0
1954 0
1961 0
1962 0
1964 0
1966 0
1969 0
1981 0
1983 0
1987 0
1993 0
2000 0
2001 0
2006 0
2008 0
2013 0
2020 0
2021 0
2023 0
2032 4
2033 0
2040 0
2041 0
2048 0
2051 0
2053 0
2057 0
2063 0
2070 0
2072 0
2076 0
2077 0
2079 0
2083 0
2085 0
2092 0
2094 0
2095 0
2096 0
2104 0
2112 0
2117 344
2119 0
2122 0
2129 0
2136 0
2140 0
2144 0
2146 0
2148 0
2153 0
2160 0
2162 0
2168 0
2173 0
2174 0
2181 0
2183 0
2195 0
2196 0
2203 0
2208 0
2210 0
2224 0
2229 0
2236 0
2246 0
2250 0
2251 130
2253 0
2255 1
2256 0
2259 0
2261 0
2263 0
2267 0
2276 0
2281 0
2283 0
2285 0
2292 0
2294 0
2298 0
2301 0
2302 0
2306 0
2312 0
2314 0
2323 0
2330 0
2332 0
2335 0
2336 0
2337 0
2345 0
2348 0
2358 0
2359 0
2360 0
2362 0
2365 0
2366 0
2367 0
2368 0
2371 0
2379 0
2381 0
2383 0
2384 0
2385 0
2386 0
2389 0
2393 0
2395 0
2399 0
2400 0
2407 0
2414 0
2415 0
2421 0
2422 0
2425 0
2426 0
2427 0
2428 0
2432 0
2433 0
2434 0
2435 0
2444 0
2451 0
2457 0
2458 0
2463 0
2474 0
2477 0
2483 0
2484 0
2494 0
2496 0
2501 0
2503 0
2504 0
2505 0
2511 0
2524 0
2536 0
2539 0
2543 0
2548 0
2549 0
2550 0
2554 0
2555 0
2556 0
2560 0
2568 0
2571 0
2577 0
2582 0
2583 0
2585 0
2586 0
2590 0
2592 0
2594 0
2598 0
2600 0
2601 0
2602 0
2605 0
2610 5000
2611 0
2615 0
2622 0
2625 0
2629 0
2634 0
2637 0
2640 0
2641 0
2645 0
2646 0
2651 0
2654 0
2655 0
2658 0
2665 0
2670 0
2671 0
2673 0
2676 0
2677 0
2678 0
2684 0
2686 0
2694 0
2695 10
2699 0
2708 0
2710 0
2716 0
2718 0
2725 0
2728 0
2736 0
2745 0
2747 0
2749 0
2751 0
2754 0
2757 0
2759 0
2765 0
2771 0
2775 0
2781 7300
2785 0
2788 0
2789 0
2798 0
2800 0
2801 0
2803 0
2810 0
2814 0
2817 0
2818 0
2819 0
2823 0
2824 0
2827 0
2830 0
2833 0
2840 0
2845 0
2847 0
2850 0
2852 0
2853 0
2854 0
2855 6000
2874 0
2879 0
2882 0
2884 0
2885 0
2886 0
2889 0
2892 0
2894 0
2896 0
2902 0
2907 0
2913 0
2917 0
2918 0
2920 0
2921 0
2922 0
2924 0
2926 0
2928 0
2936 0
2940 0
2947 0
2956 0
2963 0
2972 0
2973 0
2978 0
2981 0
2987 0
2988 0
2989 0
2990 0
2994 0
2995 0
2996 0

In [168]:
train['isBudgetZero'] = train['budget'].apply(lambda x : 1 if x < 1e5 else 0)
mean_budget =train[train['budget'] >= 1e5]['budget'].mean()
mean_budget

31424185.22501162

In [169]:
train.loc[train.budget < 1e5, 'budget'] = mean_budget
train.head()

,id,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,has_collection,isBudgetZero
0,1,1.400000e+07,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,1,0
1,2,4.000000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,1,0
2,3,3.300000e+06,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,0,0
3,4,1.200000e+06,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,0,0
4,5,3.142419e+07,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,0,1

GENRES

In [170]:
for i, e in enumerate(train['genres'][:5]):
    print(i, e)

0 [{'id': 35, 'name': 'Comedy'}]
1 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
2 [{'id': 18, 'name': 'Drama'}]
3 [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
4 [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

[{'id': 35, 'name': 'Comedy'}]
Comedy

0
Comedy
1
Comedy
Drama
Family
Romance
2
Drama
3
Thriller
Drama
4
Action
Thriller
5
Animation
Adventure
Family
6
Horror
Thriller
7
Documentary
8
Action
Comedy
Music
Family
Adventure
9
Comedy
Music
10
Drama
11
Comedy
12
Drama
13
Comedy
Crime
14
Action
Thriller
Science Fiction
Mystery
15
Action
Crime
Drama
16
Horror
Thriller
17
Drama
Romance
18
Comedy
Romance
19
Action
Thriller
Crime
20
Adventure
Family
Science Fiction
21
Horror
Thriller
22
Thriller
Horror
23
Thriller
Mystery
Foreign
24
Horror
Comedy
25
Comedy
Horror
Mystery
Thriller
26
Crime
Drama
Mystery
Thriller
27
Drama
Comedy
Romance
28
Animation
29
Action
Adventure
Crime
Thriller
30
Drama
Comedy
31
Mystery
Drama
Thriller
32
Fantasy
Action
Adventure
33
Horror
34
Action
Comedy
Crime
Thriller
35
Action
Crime
Thriller
36
Comedy
Romance
37
Action
Drama
Science Fiction
Thriller
38
Thriller
39
War
Western
40
Action
Documentary
41
Crime
Drama
42
Comedy
43
Drama
44
Comedy
Romance
45
Crime
Drama
Mystery
Romance
Thriller
46
Animation
Family
Comedy
Adventure
47
Crime
Drama
Mystery
Western
48
Drama
Comedy
49
Science Fiction
Action
Adventure
Thriller
50
Romance
Drama
Comedy
51
Adventure
Comedy
52
Adventure
Family
53
Drama
Family
Romance
54
Action
55
Comedy
Drama
Romance
56
Comedy
Drama
57
Action
Crime
Fantasy
58
Music
Romance
59
Action
Adventure
Comedy
60
Adventure
Action
Thriller
61
Drama
62
Thriller
Fantasy
Crime
Drama
63
Horror
Thriller
64
Drama
Adventure
65
Action
66
Crime
Comedy
67
Drama
68
Crime
Drama
69
Action
Crime
Drama
Thriller
70
Drama
Mystery
Thriller
Fantasy
71
Drama
72
Comedy
Music
73
Crime
Documentary
74
Crime
Drama
75
Horror
Comedy
76
Drama
Romance
Foreign
77
Comedy
78
Crime
Drama
Action
Thriller
79
Horror
Thriller
80
Action
Crime
Drama
Thriller
81
Comedy
Drama
Romance
82
Drama
Horror
Mystery
Thriller
83
Thriller
Science Fiction
84
Horror
Mystery
85
Action
Adventure
Drama
Mystery
Science Fiction
Thriller
86
Drama
87
Crime
Action
Comedy
Thriller
88
Drama
History
89
Drama
Thriller
Mystery
Romance
90
Action
Crime
91
Drama
92
War
Adventure
Drama
Romance
93
Drama
History
94
Thriller
Drama
Mystery
95
Drama
96
Action
Comedy
Thriller
Romance
97
Fantasy
Drama
98
Animation
Comedy
Adventure
Family
99
Action
Crime
Drama
100
Action
Thriller
Science Fiction
Crime
Horror
101
Drama
Romance
102
Action
Comedy
Crime
Foreign
103
Drama
104
Comedy
105
Drama
106
Drama
107
Action
Drama
History
War
108
Drama
Comedy
Romance
109
Drama
Adventure
Romance
110
Action
Comedy
Crime
Romance
111
Comedy
Romance
Drama
112
Thriller
Drama
Adventure
Action
History
113
Comedy
Drama
Romance
114
Adventure
Fantasy
Action
115
Action
Comedy
116
Drama
117
Action
Adventure
Comedy
118
Drama
Romance
119
Crime
Action
Comedy
120
Action
Comedy
Crime
Thriller
121
Adventure
Animation
Drama
Family
122
Action
Comedy
Crime
Mystery
Thriller
123
Action
Crime
Thriller
124
Comedy
Drama
Romance
125
Drama
War
126
Action
Adventure
Comedy
127
Horror
Drama
Thriller
Mystery
128
Horror
Thriller
129
Drama
130
Comedy
131
Drama
Thriller
132
Documentary
History
133
Comedy
Drama
134
Comedy
Romance
135
Adventure
Comedy
Drama
136
Drama
Family
137
Comedy
138
Thriller
139
Adventure
Action
Science Fiction
Thriller
140
Drama
Music
Romance
141
Drama
Romance
142
Drama
Comedy
143
Drama
144
Horror
Crime
Thriller
145
Drama
Mystery
Romance
146
Comedy
Crime
147
Action
Science Fiction
Drama
148
Comedy
Family
149
Thriller
Adventure
Drama
150
Adventure
Drama
Western
151
Documentary
152
Drama
Fantasy
Horror
153
Thriller
154
Action
Crime
Thriller
155
Adventure
Fantasy
Animation
Family
156
Action
157
Action
Adventure
Science Fiction
158
Action
Drama
Thriller
Crime
159
Action
Western
160
Comedy
Drama
161
Comedy
Romance
162
Drama
Comedy
163
Comedy
Drama
164
Thriller
Horror
165
Fantasy
Action
Comedy
Science Fiction
Romance
166
Documentary
Music
167
Crime
Drama
Horror
Thriller
168
Mystery
Comedy
Crime
169
Adventure
Action
Thriller
Science Fiction
170
Comedy
Crime
171
Crime
Drama
Mystery
Thriller
172
Action
Drama
Thriller
Crime
Mystery
173
Adventure
174
Comedy
175
Action
Crime
Thriller
176
Horror
Science Fiction
Thriller
177
Drama
Romance
178
Action
Adventure
Thriller
War
179
Adventure
Action
Thriller
180
Thriller
Crime
Drama
181
Drama
182
Comedy
Romance
183
Adventure
Drama
Action
184
Comedy
Drama
Fantasy
Romance
185
Drama
Crime
186
Comedy
187
Drama
Mystery
188
Animation
Family
189
Drama
Comedy
190
Horror
Thriller
Science Fiction
191
Romance
Comedy
Drama
192
Comedy
193
Action
Crime
Drama
Thriller
194
Comedy
Drama
195
Drama
196
Horror
197
Action
Thriller
Crime
198
Action
Comedy
Drama
199
Drama
Crime
200
Comedy
Family
Fantasy
201
Music
Comedy
Drama
Romance
Science Fiction
202
Animation
Comedy
Family
203
Animation
Comedy
Family
204
Horror
Comedy
Romance
205
Crime
Drama
Thriller
206
Crime
Drama
Thriller
207
Action
Adventure
Science Fiction
Family
Fantasy
208
Fantasy
Horror
Science Fiction
209
Western
Adventure
210
Horror
Comedy
211
Horror
Thriller
Adventure
212
Action
Comedy
Family
213
Action
214
Thriller
Crime
Drama
215
Comedy
Crime
216
Fantasy
Animation
Family
217
Action
Comedy
218
Comedy
219
Documentary
220
Drama
History
War
221
Comedy
Romance
222
Comedy
Drama
Romance
223
Thriller
Mystery
224
Comedy
225
Action
Adventure
Drama
History
226
Fantasy
Thriller
Action
Crime
227
Drama
Romance
228
Adventure
Western
229
Drama
Romance
230
Action
Adventure
Comedy
231
Drama
Romance
232
Comedy
Drama
233
Western
Documentary
234
Action
Adventure
Drama
History
235
Adventure
Family
236
Horror
Comedy
237
Comedy
238
Fantasy
Drama
Thriller
Mystery
Romance
239
Drama
Romance
Comedy
Music
240
Action
Drama
241
Animation
Music
Family
242
Animation
243
Comedy
Drama
Romance
244
Romance
Comedy
Horror
245
Comedy
Adventure
Romance
246
Romance
Comedy
Crime
Fantasy
247
Drama
History
War
248
Action
Crime
Thriller
249
Mystery
250
Comedy
251
Action
Adventure
252
Comedy
Horror
253
Drama
254
Comedy
Drama
255
Comedy
256
Adventure
Drama
257
Drama
Action
Western
Music
Romance
258
Action
Animation
Science Fiction
259
Drama
260
Drama
Family
261
Comedy
262
Drama
Romance
263
Science Fiction
264
Drama
Thriller
265
Crime
Drama
266
Adventure
Drama
267
Comedy
268
Adventure
Action
Family
269
Documentary
Foreign
Music
270
Family
Comedy
271
Comedy
272
Action
Thriller
273
Family
Comedy
274
Comedy
Romance
275
Documentary
276
Horror
Fantasy
Thriller
277
Action
Adventure
Comedy
Romance
278
Drama
279
Drama
Crime
Thriller
280
Horror
Thriller
281
Horror
Thriller
282
Comedy
Drama
Romance
283
Drama
284
Crime
Drama
Thriller
285
Comedy
Science Fiction
Thriller
Adventure
286
Horror
Thriller
287
Thriller
Comedy
Crime
Romance
288
Action
Drama
289
Animation
Drama
Family
Fantasy
290
Comedy
Drama
Romance
291
Crime
Drama
Thriller
292
Drama
War
293
Action
Drama
Foreign
History
Thriller
294
Action
Adventure
Science Fiction
295
Action
Fantasy
Science Fiction
296
Drama
297
Action
Crime
Drama
298
Comedy
299
Fantasy
Action
Comedy
Science Fiction
300
Action
Horror
301
Comedy
Romance
302
Comedy
Music
Romance
303
Drama
Thriller
304
Action
War
305
Drama
History
Crime
306
Family
Fantasy
307
Crime
Drama
308
Comedy
Drama
309
Comedy
310
Drama
Thriller
Mystery
311
Drama
Romance
312
Comedy
Drama
313
Drama
Comedy
314
Family
Comedy
Animation
Adventure
315
Crime
Drama
Mystery
316
Animation
Adventure
Family
Comedy
317
Science Fiction
Action
Drama
Thriller
318
Fantasy
Mystery
Thriller
319
Crime
Drama
Romance
Thriller
320
Action
Thriller
321
Adventure
Fantasy
Drama
Comedy
Science Fiction
Family
322
Western
Drama
Adventure
Thriller
323
Drama
Action
Thriller
Crime
324
Action
Comedy
Romance
325
Comedy
Family
Fantasy
326
Comedy
327
Action
Thriller
Crime
Drama
328
Drama
Romance
329
Animation
Comedy
330
Romance
Adventure
331
Drama
Action
History
332
Comedy
Drama
Romance
333
War
Action
Drama
334
Action
Drama
335
Drama
336
Thriller
Crime
337
Mystery
Drama
Fantasy
338
Drama
339
Drama
History
340
Comedy
341
Drama
Mystery
Thriller
Crime
342
Comedy
Romance
343
War
Drama
Action
344
Action
Drama
Thriller
345
Comedy
Romance
346
Drama
Romance
347
Fantasy
Drama
Comedy
Family
Adventure
348
Adventure
Animation
Fantasy
349
Documentary
350
Drama
Action
351
Adventure
Action
Thriller
352
Comedy
353
Action
Comedy
354
Action
Crime
355
Documentary
356
Action
Adventure
Comedy
Drama
Mystery
357
Family
Animation
Drama
358
Action
War
Science Fiction
359
Fantasy
Drama
360
Family
Documentary
Adventure
361
Action
Comedy
Crime
362
Drama
War
363
Drama
Romance
364
Drama
Thriller
365
Science Fiction
Drama
Thriller
366
Drama
367
Family
Adventure
Comedy
Fantasy
368
Drama
Comedy
Romance
369
Thriller
Horror
370
Comedy
Drama
371
Drama
Comedy
Romance
Foreign
372
Action
Drama
Thriller
War
373
Comedy
Thriller
Drama
374
Horror
Science Fiction
375
Science Fiction
376
Animation
Family
377
Drama
Thriller
Crime
378
Animation
Family
Adventure
379
Drama
Music
380
Drama
Thriller
Action
381
Adventure
Drama
Family
382
Crime
Drama
Thriller
383
Drama
Romance
384
Drama
385
Family
Comedy
386
Drama
387
Drama
Romance
388
Action
Crime
Drama
Thriller
389
Comedy
390
Comedy
391
Adventure
Drama
History
392
Drama
393
Family
Comedy
394
Comedy
395
Comedy
Drama
396
Comedy
Documentary
397
Drama
Horror
Science Fiction
Thriller
398
Action
Adventure
Drama
History
Romance
War
399
Comedy
Crime
Horror
Thriller
400
Romance
Comedy
401
Drama
History
402
Drama
403
Action
404
Action
Horror
Thriller
Science Fiction
405
Horror
Thriller
Mystery
406
Animation
Comedy
Fantasy
407
Thriller
408
Adventure
Comedy
Science Fiction
409
Drama
410
Horror
Action
Thriller
Science Fiction
411
Drama
History
412
Romance
413
Comedy
Romance
414
Comedy
415
Crime
Drama
Mystery
Thriller
416
Drama
417
Adventure
Horror
Thriller
418
Crime
Drama
419
Comedy
Foreign
420
Fantasy
Comedy
Romance
421
Horror
Thriller
422
Action
Comedy
423
Crime
Thriller
Mystery
424
Comedy
Drama
425
Drama
Fantasy
426
Comedy
Family
427
Comedy
428
Drama
Mystery
Thriller
429
Drama
Mystery
Thriller
430
Comedy
431
Science Fiction
Thriller
432
Crime
Drama
Mystery
433
Action
Comedy
Crime
Romance
434
Adventure
Comedy
Drama
Science Fiction
435
Family
Adventure
Drama
436
Drama
History
437
Adventure
Action
Comedy
438
Comedy
Romance
439
Drama
440
Action
War
441
Drama
Thriller
442
Documentary
443
Mystery
Thriller
444
Drama
Romance
445
Comedy
Drama
446
Adventure
Action
Science Fiction
Thriller
447
Fantasy
Drama
Comedy
Family
448
Action
Thriller
449
Thriller
Science Fiction
Adventure
Action
450
Comedy
Romance
451
Drama
Crime
Thriller
452
Music
Romance
Drama
453
Horror
Thriller
War
454
Comedy
Drama
Romance
455
Horror
456
Drama
Mystery
457
Drama
458
Romance
Comedy
Family
459
Thriller
Action
Crime
460
History
Drama
461
Comedy
Family
462
Drama
Science Fiction
Mystery
463
Comedy
Drama
Family
464
Comedy
Family
Science Fiction
465
Crime
Drama
Thriller
466
Drama
467
Comedy
468
Drama
469
Adventure
Drama
Action
Romance
Family

TypeError: eval() arg 1 must be a string, bytes or code object

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

TypeError: eval() arg 1 must be a string, bytes or code object

TypeError: eval() arg 1 must be a string, bytes or code object

TypeError: list indices must be integers or slices, not dict

In [98]:
genres_count=[]
for i in train['genres']:
    if(not(pd.isnull(i))):
        
        genres_count.append(len(eval(i)))
        
    else:
        genres_count.append(0)
train['num_genres'] = genres_count

In [112]:
genres = []
repeated_revenues = []
for i in range(len(train)):
  if train['genres'][i] == train['genres'][i]:
      movie_genre = [genre['name'] for genre in eval(train['genres'][i])]
      genres.extend(movie_genre)
      repeated_revenues.extend([train['revenue'][i]]*len(movie_genre))
  
genre = pd.DataFrame(np.zeros((len(genres), 2)))
genre.columns = ['genre', 'revenue']
genre['genre'] = genres
genre['revenue'] = repeated_revenues

genre

         genre    revenue
0       Comedy   12314651
1       Comedy   95149435
2        Drama   95149435
3       Family   95149435
4      Romance   95149435
...        ...        ...
7506    Comedy  171963386
7507   Romance  171963386
7508  Thriller   82087155
7509    Action   82087155
7510   Mystery   82087155

[7511 rows x 2 columns]

In [113]:
genres = []
repeated_revenues = []
for i in range(len(train)):
    if train['genres'][i] == train['genres'][i]:
        movie_genre = [genre['name'] for genre in eval(train['genres'][i])]
        genres.extend(movie_genre)
genres

['Comedy',
 'Comedy',
 'Drama',
 'Family',
 'Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Action',
 'Thriller',
 'Animation',
 'Adventure',
 'Family',
 'Horror',
 'Thriller',
 'Documentary',
 'Action',
 'Comedy',
 'Music',
 'Family',
 'Adventure',
 'Comedy',
 'Music',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Crime',
 'Action',
 'Thriller',
 'Science Fiction',
 'Mystery',
 'Action',
 'Crime',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Action',
 'Thriller',
 'Crime',
 'Adventure',
 'Family',
 'Science Fiction',
 'Horror',
 'Thriller',
 'Thriller',
 'Horror',
 'Thriller',
 'Mystery',
 'Foreign',
 'Horror',
 'Comedy',
 'Comedy',
 'Horror',
 'Mystery',
 'Thriller',
 'Crime',
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'Comedy',
 'Romance',
 'Animation',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Drama',
 'Comedy',
 'Mystery',
 'Drama',
 'Thriller',
 'Fantasy',
 'Action',
 'Adventure',
 'Horror',
 'Action',
 'Comedy',
 'Crime',
 'Thriller',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Thriller',
 'War',
 'Western',
 'Action',
 'Documentary',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Mystery',
 'Romance',
 'Thriller',
 'Animation',
 'Family',
 'Comedy',
 'Adventure',
 'Crime',
 'Drama',
 'Mystery',
 'Western',
 'Drama',
 'Comedy',
 'Science Fiction',
 'Action',
 'Adventure',
 'Thriller',
 'Romance',
 'Drama',
 'Comedy',
 'Adventure',
 'Comedy',
 'Adventure',
 'Family',
 'Drama',
 'Family',
 'Romance',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 'Crime',
 'Fantasy',
 'Music',
 'Romance',
 'Action',
 'Adventure',
 'Comedy',
 'Adventure',
 'Action',
 'Thriller',
 'Drama',
 'Thriller',
 'Fantasy',
 'Crime',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Adventure',
 'Action',
 'Crime',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Mystery',
 'Thriller',
 'Fantasy',
 'Drama',
 'Comedy',
 'Music',
 'Crime',
 'Documentary',
 'Crime',
 'Drama',
 'Horror',
 'Comedy',
 'Drama',
 'Romance',
 'Foreign',
 'Comedy',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Horror',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Horror',
 'Mystery',
 'Thriller',
 'Thriller',
 'Science Fiction',
 'Horror',
 'Mystery',
 'Action',
 'Adventure',
 'Drama',
 'Mystery',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Crime',
 'Action',
 'Comedy',
 'Thriller',
 'Drama',
 'History',
 'Drama',
 'Thriller',
 'Mystery',
 'Romance',
 'Action',
 'Crime',
 'Drama',
 'War',
 'Adventure',
 'Drama',
 'Romance',
 'Drama',
 'History',
 'Thriller',
 'Drama',
 'Mystery',
 'Drama',
 'Action',
 'Comedy',
 'Thriller',
 'Romance',
 'Fantasy',
 'Drama',
 'Animation',
 'Comedy',
 'Adventure',
 'Family',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Science Fiction',
 'Crime',
 'Horror',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Crime',
 'Foreign',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Action',
 'Drama',
 'History',
 'War',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Adventure',
 'Romance',
 'Action',
 'Comedy',
 'Crime',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Adventure',
 'Action',
 'History',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 'Fantasy',
 'Action',
 'Action',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Romance',
 'Crime',
 'Action',
 'Comedy',
 'Action',
 'Comedy',
 'Crime',
 'Thriller',
 'Adventure',
 'Animation',
 'Drama',
 'Family',
 'Action',
 'Comedy',
 'Crime',
 'Mystery',
 'Thriller',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'War',
 'Action',
 'Adventure',
 'Comedy',
 'Horror',
 'Drama',
 'Thriller',
 'Mystery',
 'Horror',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Documentary',
 'History',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Adventure',
 'Comedy',
 'Drama',
 'Drama',
 'Family',
 'Comedy',
 'Thriller',
 'Adventure',
 'Action',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Music',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Horror',
 'Crime',
 'Thriller',
 'Drama',
 'Mystery',
 'Romance',
 'Comedy',
 'Crime',
 'Action',
 'Science Fiction',
 'Drama',
 'Comedy',
 'Family',
 'Thriller',
 'Adventure',
 'Drama',
 'Adventure',
 'Drama',
 'Western',
 'Documentary',
 'Drama',
 'Fantasy',
 'Horror',
 'Thriller',
 'Action',
 'Crime',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Animation',
 'Family',
 'Action',
 'Action',
 'Adventure',
 'Science Fiction',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Action',
 'Western',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Thriller',
 'Horror',
 'Fantasy',
 'Action',
 'Comedy',
 'Science Fiction',
 'Romance',
 'Documentary',
 'Music',
 'Crime',
 'Drama',
 'Horror',
 'Thriller',
 'Mystery',
 'Comedy',
 'Crime',
 'Adventure',
 'Action',
 'Thriller',
 'Science Fiction',
 'Comedy',
 'Crime',
 'Crime',
 'Drama',
 'Mystery',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Mystery',
 'Adventure',
 'Comedy',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Thriller',
 'War',
 'Adventure',
 'Action',
 'Thriller',
 'Thriller',
 'Crime',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Action',
 'Comedy',
 'Drama',
 'Fantasy',
 'Romance',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Mystery',
 'Animation',
 'Family',
 'Drama',
 'Comedy',
 'Horror',
 'Thriller',
 'Science Fiction',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Action',
 'Thriller',
 'Crime',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Comedy',
 'Family',
 'Fantasy',
 'Music',
 'Comedy',
 'Drama',
 'Romance',
 'Science Fiction',
 'Animation',
 'Comedy',
 'Family',
 'Animation',
 'Comedy',
 'Family',
 'Horror',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Science Fiction',
 'Family',
 'Fantasy',
 'Fantasy',
 'Horror',
 'Science Fiction',
 'Western',
 'Adventure',
 'Horror',
 'Comedy',
 'Horror',
 'Thriller',
 'Adventure',
 'Action',
 'Comedy',
 'Family',
 'Action',
 'Thriller',
 'Crime',
 'Drama',
 'Comedy',
 'Crime',
 'Fantasy',
 'Animation',
 'Family',
 'Action',
 'Comedy',
 'Comedy',
 'Documentary',
 'Drama',
 'History',
 'War',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Thriller',
 'Mystery',
 'Comedy',
 'Action',
 'Adventure',
 'Drama',
 'History',
 'Fantasy',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Romance',
 'Adventure',
 'Western',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Western',
 'Documentary',
 'Action',
 'Adventure',
 'Drama',
 'History',
 'Adventure',
 'Family',
 'Horror',
 'Comedy',
 'Comedy',
 'Fantasy',
 'Drama',
 'Thriller',
 'Mystery',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Music',
 'Action',
 'Drama',
 'Animation',
 'Music',
 'Family',
 'Animation',
 'Comedy',
 'Drama',
 'Romance',
 'Romance',
 'Comedy',
 'Horror',
 'Comedy',
 'Adventure',
 'Romance',
 'Romance',
 'Comedy',
 'Crime',
 'Fantasy',
 'Drama',
 'History',
 'War',
 'Action',
 'Crime',
 'Thriller',
 'Mystery',
 'Comedy',
 'Action',
 'Adventure',
 'Comedy',
 'Horror',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Adventure',
 'Drama',
 'Drama',
 'Action',
 'Western',
 'Music',
 'Romance',
 'Action',
 'Animation',
 'Science Fiction',
 'Drama',
 'Drama',
 'Family',
 'Comedy',
 'Drama',
 'Romance',
 'Science Fiction',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Adventure',
 'Drama',
 'Comedy',
 'Adventure',
 'Action',
 'Family',
 'Documentary',
 'Foreign',
 'Music',
 'Family',
 'Comedy',
 'Comedy',
 'Action',
 'Thriller',
 'Family',
 'Comedy',
 'Comedy',
 'Romance',
 'Documentary',
 'Horror',
 'Fantasy',
 'Thriller',
 'Action',
 'Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Crime',
 'Thriller',
 'Horror',
 'Thriller',
 'Horror',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Science Fiction',
 'Thriller',
 'Adventure',
 'Horror',
 'Thriller',
 'Thriller',
 'Comedy',
 'Crime',
 'Romance',
 'Action',
 'Drama',
 'Animation',
 'Drama',
 'Family',
 'Fantasy',
 'Comedy',
 'Drama',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'War',
 'Action',
 'Drama',
 'Foreign',
 'History',
 'Thriller',
 'Action',
 'Adventure',
 'Science Fiction',
 'Action',
 'Fantasy',
 'Science Fiction',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Comedy',
 'Fantasy',
 'Action',
 'Comedy',
 'Science Fiction',
 'Action',
 'Horror',
 'Comedy',
 'Romance',
 'Comedy',
 'Music',
 'Romance',
 'Drama',
 'Thriller',
 'Action',
 'War',
 'Drama',
 'History',
 'Crime',
 'Family',
 'Fantasy',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Mystery',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Family',
 'Comedy',
 'Animation',
 'Adventure',
 'Crime',
 'Drama',
 'Mystery',
 'Animation',
 'Adventure',
 'Family',
 'Comedy',
 'Science Fiction',
 'Action',
 'Drama',
 'Thriller',
 'Fantasy',
 'Mystery',
 'Thriller',
 'Crime',
 'Drama',
 'Romance',
 'Thriller',
 'Action',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Drama',
 'Comedy',
 'Science Fiction',
 'Family',
 'Western',
 'Drama',
 'Adventure',
 'Thriller',
 'Drama',
 'Action',
 'Thriller',
 'Crime',
 'Action',
 'Comedy',
 'Romance',
 'Comedy',
 'Family',
 'Fantasy',
 'Comedy',
 'Action',
 'Thriller',
 'Crime',
 'Drama',
 'Drama',
 'Romance',
 'Animation',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Action',
 'History',
 'Comedy',
 'Drama',
 'Romance',
 'War',
 'Action',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Thriller',
 'Crime',
 'Mystery',
 'Drama',
 'Fantasy',
 'Drama',
 'Drama',
 'History',
 'Comedy',
 'Drama',
 'Mystery',
 'Thriller',
 'Crime',
 'Comedy',
 'Romance',
 'War',
 'Drama',
 'Action',
 'Action',
 'Drama',
 'Thriller',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Fantasy',
 'Drama',
 'Comedy',
 'Family',
 'Adventure',
 'Adventure',
 'Animation',
 'Fantasy',
 'Documentary',
 'Drama',
 'Action',
 'Adventure',
 'Action',
 'Thriller',
 'Comedy',
 'Action',
 'Comedy',
 'Action',
 'Crime',
 'Documentary',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Mystery',
 'Family',
 'Animation',
 'Drama',
 'Action',
 'War',
 'Science Fiction',
 'Fantasy',
 'Drama',
 'Family',
 'Documentary',
 'Adventure',
 'Action',
 'Comedy',
 'Crime',
 'Drama',
 'War',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Science Fiction',
 'Drama',
 'Thriller',
 'Drama',
 'Family',
 'Adventure',
 'Comedy',
 'Fantasy',
 'Drama',
 'Comedy',
 'Romance',
 'Thriller',
 'Horror',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Foreign',
 'Action',
 'Drama',
 'Thriller',
 'War',
 'Comedy',
 'Thriller',
 'Drama',
 'Horror',
 'Science Fiction',
 'Science Fiction',
 'Animation',
 'Family',
 'Drama',
 'Thriller',
 'Crime',
 'Animation',
 'Family',
 'Adventure',
 'Drama',
 'Music',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 'Family',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Romance',
 'Drama',
 'Family',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Adventure',
 'Drama',
 'History',
 'Drama',
 'Family',
 'Comedy',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Documentary',
 'Drama',
 'Horror',
 'Science Fiction',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 ...]

In [ ]:
plt.figure(figsize=(12,8))
plt.scatter("budget", "revenue", data=train)
plt.show()

plt.figure(figsize=(12,8))
plt.scatter("popularity", "revenue", data=train)
plt.show()

plt.figure(figsize=(12,8))
plt.scatter("runtime", "revenue", data=train)
plt.show()